.react-chart {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: row;
}

.react-chart-tooltip {
    pointer-events: none;
    background-color: rgba(0, 0, 0, 0.8);
    color: #dddddd;
    min-width: 120px;
    padding: 0.5em 0.6em;
    border-radius: 0.5em;
    font-size: 0.9em;
    position: absolute;
    z-index: 1;
    transform: translate(-50%, -100%);
}

.react-chart-tooltip span {
    margin: auto;
}

.hidden {
    visibility: hidden;
    display: none !important;
}

.visible { 
    visibility: visible;
    display: inherit !important;
}

.react-chart-legend {
    display: flex;
    flex-direction: column;
    padding: 0.5em;
}

.selected {
    color: #777777;
}

.react-chart-legend-row {
    display: flex;
    flex-direction: row;
    padding: 0.3em;
}

.react-chart-legend-box {
    width: 1em;
    height: 1em;
}

.react-chart-legend-label {
    margin-left: 1em;
}
