.react-chart {
    display: flex;
    flex-direction: row;
}

.react-chart-legend {
    display: flex;
    flex-direction: column;
    padding: 0.5em;
}

.react-chart-legend-row {
    display: flex;
    flex-direction: row;
    padding: 0.3em;
}

.react-chart-legend-box {
    width: 1em;
    height: 1em;
}

.react-chart-legend-label {
    margin-left: 1em;
}
